.hero {
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url("/public/hero-bg.webp");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
